<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>Developed Not Downlaoded | iOS App Download Counter</title>
    <link rel="icon" type="image/x-icon" href="Images/weblogo180.png" />
    <link rel="apple-touch-icon" href="Images/weblogo180.png">
    <link rel="apple-touch-icon" sizes="76x76" href="Images/weblogo76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="Images/weblogo120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="Images/weblogo152.png">

    <link rel="shortcut icon" href="Images/weblogo180.png" />
    <link rel="stylesheet" href="Styles/normalize.css" />
    <link rel="stylesheet" href="Styles/defaults.css" />
    <link rel="stylesheet" href="Styles/appTemplateLayout.css" />

</head>
<body>
    <div>
        <center><img src="Images/WebsiteLogo.png" class="logo" alt="Logo" /></center>
    </div>

    <hr class="nav" />
    <nav id="nav-placeholder"></nav>
    <hr class="nav" />

    <main>
        <h1>Number of iOS apps download on <object class="color">{{{_year}}}-{{{_month}}}-{{{_day}}}</object>: </h1>
        <br /><br /><br /><br />

        <center><pre>{{{text}}}</pre></center>

        <br /><br /><br /><br /><br />
        <h3>Report generated from: <object class="color">{{{generatedFrom}}}</object></h3>
        <p>How does this work?</p>
        <p>
            Results are gathered using Apple's App Store Connect REST API. The HTTPS GET request is stored and executed as a Google FireBase Cloud Function. The resulting data is then loaded, using Express.JS, into a template webpage. Once a report is generated the results are put into a cloud firestore database. If that same report is requested again, the data is reloaded from the database.
            (Results for a given day are available thirty hours from the start of that day.)
        </p>

        <br /><br />
    </main>
    <footer>
        <div class="right_position">
            <img src="Images/App Development Logo 150.png" height="150" alt="Andrew Rotert Development Logo" />
            <br />
            <p class="bottom_position">&copy; Copyright 2019-2020 Andrew Rotert</p>
        </div>

    </footer>

    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
    <script type="text/babel" src="Dynamic/reactnav.js">
    </script>

</body>
</html>